html{
  margin: 0;
  padding: 0;
  background-color:unset;
}
body{
  background-color:unset;
   margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}
span{
  background-color: none;
  display: unset;
  align-content: center;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 300px;
  width: 100%;
  position:absolute;
  left: -10px;
  top: 226.9px;
}
.d1{
  background-color: #2196f5;
  animation: dive 3s ease-in-out infinite;
}
.d2{
  opacity: 0.2;
  background-color: #2196f5;
  animation: dive 6s ease-in-out infinite;
}
.d3{
  opacity: 0.3;
    background-color: #2196f5;
  animation: dive 4s ease-in-out infinite;
}
@keyframes dive{
    0%,100%{clip-path: polygon(0 62%, 19% 52%, 30% 48%, 40% 47%, 53% 49%, 75% 56%, 88% 60%, 100% 64%, 100% 100%, 0 100%); left: 10px;}
    50%{clip-path: polygon(0 65%, 14% 65%, 24% 64%, 34% 63%, 46% 61%, 62% 56%, 86% 49%, 100% 45%, 100% 100%, 0 100%);}  
}

.spn1{
  display: flex;
  align-content: center;
  align-items: center;
  align-self: center;
  justify-content: center;
  text-align: center;
  height: 600px;
  width: 100%;
  position:absolute;
  top: 40px;
  animation: sun 15s ease-in-out infinite;
  background-color: yellow;
}
@keyframes sun {
    0%,100%{clip-path: circle(23.2% at 52% 66%)}
    50%{clip-path: circle(36.4% at 50% 35%);}
}
.dv{
  position: absolute;
  left: -10px;
  top:150px;
  display: flex;
  width: 700px;
  height: 500px;
  background-color: rgb(90, 45, 12);
  clip-path: polygon(47% 24%, 45% 29%, 38% 42%, 23% 28%, 38% 36%);
  clip-path: polygon(0 57%, 11% 60%, 21% 64%, 30% 69%, 38% 75%, 45% 81%, 52% 88%, 61% 100%, 0% 100%)
}

